@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-section--orange{
  border-top: 3px solid #f7a600;
}

.create {
  width: 100%;
  height: 100%;
  position: relative;
}

.create::before{
  content: "";
  display:block;
background-image: url('./gym-logo-grey.png');
background-size: contain;
background-repeat: no-repeat;
width: 10rem;
    height: 6rem;
    float: left;
    margin-right: 10px;
}